@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@font-face {
    font-family: SF UI Display;
    src: url(/sf-ui-display-cufonfonts/sf-ui-display-bold-58646a511e3d9.otf);
    src: url(/sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551.otf); 
  }

/* NavBar */
.banner {

}
.banner img {
    width: 100%;
    /* height: 550px; */
    margin-top: 85px;
}
.banner-text {
    /* border: 1px solid red; */
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: SF UI Display;
    font-size: 38px;
    font-weight: bold;
}

/* About Us Message */

.about-us-wrap {
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 90%;
    margin: auto;
    
}
.about-us-wrap ul {
    list-style: none;
}
.about-us-wrap ul li {
    font-size: 18px;
    padding: 1rem;
    line-height: 1.8rem;
    color: #5e5e5e;
}
.welcome {
    text-align: center;
    padding-bottom: 2rem;
}
.registration {
    color: #047AC3;
    font-weight: bold;
}



/* Why Choose Us */
.core-value-wrap {
    background-color: #047AC3;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}
.core-head {
    text-align: center;
    padding-bottom: 1rem;
}
.core-img {
    margin: auto;
    margin-bottom: 2rem;
    width: 65%;
    padding-top: 2rem;
}
.core-img img {
    width: 100%;
}
.core p {
    font-size: 18px;
    /* border: 1px solid red; */
}

/* Vision & Mission */
.vision-wrap {
    background-color: #e9e9e9;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.vision {
    /* border: 1px solid red; */
}
.vision-img {
    width: 80%;
    margin: auto;
}
.vision-img img {
    width: 100%;
}
.vision h3 {
    color: #2b2a2a;
    margin-bottom: 1rem;
    font-weight: 400;
}
.vision p {
    color: #5e5e5e;
}
.mission h3 {
    color: #2b2a2a;
    margin-bottom: 1rem;
    font-weight: 400;
}
.mission p {
    color: #5e5e5e;
}
#nn {
    /* border: 1px solid red; */
    padding-left: 7rem;
}










@media (max-width: 500px) {
    .about-us-wrap {
        width: 100%;
    }

    #nn {
        order: 2;
        text-align: center;
        padding-left: 0%;
    }
    #mm {
        order: 1;
    }
    #oo {
        order: 3;
    }
    #pp {
        order: 4;
        text-align: center;
    }
    .core-img {
        width: 38%;
    }
    .banner img {
        margin-top: 66px;
    }
    .banner-text {
        top: 115px;
    }
    .banner-text {
        font-size: 17px;
    }
   
}
@media (min-width: 768px) {
    .banner img {
        margin-top: 80px;
    }
    .banner-text {
        top: 190px;
    }
    .banner-text {
        font-size: 25px;
    }
}
@media (min-width: 1024px) {
    .banner-text {
        top: 230px;
    }
}
@media (min-width: 1200px) {
    .banner-text {
        top: 250px;
    }
}
@media (min-width: 1300px) {
    .banner-text {
       
        position: absolute;
        top: 280px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: SF UI Display;
        font-size: 38px;
        font-weight: bold;
    }
}