* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: SF UI Display;
    src: url(sf-ui-display-cufonfonts/sf-ui-display-bold-58646a511e3d9.otf);
    src: url(sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551.otf); 
  }

.banner img {
    width: 100%;
    margin-top: 85px;
}
.banner-text {
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: SF UI Display;
    font-size: 45px;
    font-weight: bold;
}


/* Contact US*/
.contact-wrap {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
.contact-img {
    width: 80%;
   margin: auto;
}
.contact-img img {
    width: 100%;
}
.contact h3 {
    color: #2b2a2a;
    margin-bottom: 1rem;
    font-size: 20px;
}
.contact label {
    color: #5e5e5e;
}
.contact input {
    font-size: 13px;
    background-color: transparent;
}
.contact textarea {
    font-size: 13px;
    background-color: transparent;
}

.contact-btn {
    padding: 10px 40px ;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #047AC3;
}
.contact-btn:hover {
    color: #fff;
    transform: scale(0.97);
    transition: ease-in-out 0.3s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}








@media (max-width: 500px) {
    #nn {
        order: 2;
    }
    #mm {
        order: 1;
    }
    .banner img {
        margin-top: 66px;
    }
    .banner-text {
        top: 115px;
    }
    .banner-text {
        font-size: 17px;
    }
   
}
@media (min-width: 768px) {
    .banner img {
        margin-top: 80px;
    }
    .banner-text {
        top: 190px;
    }
    .banner-text {
        font-size: 25px;
    }
    .newsletter button {
        margin-top: .5rem;
    }
}
@media (min-width: 1024px) {
    .banner-text {
        top: 230px;
    }
}
@media (min-width: 1200px) {
    .banner-text {
        top: 250px;
    }
}
@media (min-width: 1300px) {
    .banner-text {
       
        position: absolute;
        top: 280px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: SF UI Display;
        font-size: 45px;
        font-weight: bold;
    }
}